<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel="shortcut icon" href="D:\Fiverr-work\NLP_tobby_app\Web_interaction\templates\icon\LogoMakr_4VPIGm.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static',filename='style2.css') }}" />
    <script src="{{url_for('static',filename='main.js')}}"></script>
    {% block head %} {% endblock %}
  </head>
  <body>
    {% block body %} {% endblock %}
  </body>
</html>
